[submodule "modules/ceres"]
	path = modules/ceres
	url = https://github.com/graphite-project/ceres.git
[submodule "modules/carbon"]
	path = modules/carbon
	url = https://github.com/graphite-project/carbon.git
[submodule "modules/graphite-web"]
	path = modules/graphite-web
	url = https://github.com/graphite-project/graphite-web.git
[submodule "modules/opensm-qnibng"]
	path = modules/opensm-qnibng
	url = https://github.com/ChristianKniep/opensm-qnibng.git
